body{font-size:16px;
	margin:0;
	background:black;
	font-family:'Source Sans Pro',helvetica,arial,sans-serif;
}
#ontop
{
height:30px;
width:100%;
background:rgb(0, 26, 68);
position:relative;
}	
#ontop p{
	text-align:right;
	margin-right:20px;
	padding-top:3px;
	font-size:16px;
	

}
#ontop a{
	text-decoration:none;
	margin:10px;
		color:white;
}
.cont
{
	height:700px;
	background:black;
	background:url("cbj.jpeg");
	background-repeat:none;
	background-position:fixed;
	background-attachment:absolute;
}
div.top{
	height:100px;
	background:transparent;
	color:black;
	font-family:'Notable',"Brush Script Std";
}
#virat{
	font-size:50px;
	color:020B26;
	margin-left:250px;
	text-shadow:2px 2px red;
	font-family: 'Faster One','Fredericka the Great','Luckiest Guy', cursive;
	transition:0.5s;
}
#virat:hover{
	margin-left:260px;
}
#flg{
	color:transparent;
	text-shadow:5px 5px 4px orange;
	font-size:10px;
	padding:none;
	display:inline;
}
div.navbar{
	height:50px;
	background:transparent;
	
}
button.nav{
width:24.5%;
height:40px;
background:rgba(27, 103, 196,0.5);
border:none;
outline:none;
border-right:solid teal 1px;
border-collapse:collapse;
position:relative;
padding:0;
}
button.nav:nth-of-type(4)
{
	border-right:none;
}
a.nav{
	color:rgb(107, 145, 115);
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	width:100%;
    height:100%;
	font-family:'Source Sans Pro',helvetica,arial,sans-serif;
}	
.men
{
position:relative;
display:inline-block;

}
.subm
{
display:none;
position:absolute;
}	
.subm a
{
	color:black;
display:block;

}
.but
{
	background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
	button.nav:hover
{
background:rgb(219, 224, 249);
}
button.nav:hover a.nav
{
color:red;
}
.men :hover .subm
{
	display:block;
}
div.top p{
	font:50px;
	color:white;
	font-size:70px;
	padding:0;
}
div.mainbox
{
	height:710px;
	color:black;
	border-bottom:solid black 2px;
	
}
div.quickjump
{
	width:19.5%;
	height:65%;
	float:left;
	background:rgba(162, 171, 211,0.5);
}
.tablec
{
	margin-top:20px;
	width:200px;
	height:400px;
	background:transparent;
}
table.quickjump
{
	margin-top:20px;
	border-top:none;
	border-bottom:solid rgb(102, 102, 255) 1px;
	width:100%;
	height:100%;
	border-collapse:collapse;
	background:transparent;
}
button.quickjump{
	width:100%;
	background:rgba(255, 255, 102,0.4);
	border:none;
	outline:none;
	height:100%;
display:block;
	
}
button.quickjump:hover{
	background:transparent;
	color:red;
	box-shadow:1.5px 1.5px 1.5px black;
}
a.quickjump{
	font-family:'Source Sans Pro',helvetica,arial,sans-serif;
	font-size:15px;
	font-weight:bold;
	color:black;
	text-decoration:none;
	text-transform:uppercase;
	display:block;
}
a.quickjump:hover
{
color:red;
}	
div.About{
	width:46%;
	height:300px;
	float:right;
	margin-left:250px;
	margin-top:60px;
	margin-right:1px;
	float:left;
	border:solid gray 2px;
	border-radius:10px;
	background:rgba(0, 0, 0,0.5);
	transition:0.5s;
	position:absolute;
	
}

div.About:hover
{
box-shadow:2px 2px 5px black;
margin-top:40px;
background:rgba(0, 0, 0,0.7);
}	
	
p.About{
	height:100px;
	font-size:16px;
	color:rgb(255, 204, 204);
	margin-left:35px;
	margin-right:20px;
	font-family: 'Fahkwang', sans-serif;
}
div.bottom{
	margin:10px 20px 20px 20px;
	width:900px;
	height:100px;
	border:solid gray 1px;
	padding-left:30px;
    background:rgb(31, 40, 56);
	color:white;
	}
div.up{
	width:100%;
padding-top:10px;
padding-bottom:10px;
background:rgb(50,50,50);
float:right;
}		
#bcci{
	margin-bottom:10px;
}
div.sedia{
	width:50%;
	float:right;
	color:lightgray;
}
div.wedia
{
	width:50%;
	float:right;
	height:100%;
	padding-top:20px;
}
.social
{
	border-radius:4px;
}
a.logo
{
	margin-left:70px;
}
img.social
{
	width:30px;
	height:30px;
	transition:2s;
}
.change{
	width:30px;
	height:30px;
}
.finav
{
	margin:20px 20px 20px 20px;
	width:900px;
	height:130px;
	border:solid gray 1px;
	padding-left:30px;
    background:rgb(31, 40, 56);
	padding-top:10px;
	padding-bottom:20px;
	margin-bottom:10px;
}
#ifinav
{
	width:40%;
	float:left;
	padding-top:10px
}
#ifinav a
{
	margin-left:20px;
	display:inline;
	font-size:16px;
	font-family:'Source Sans Pro',helvetica,arial,sans-serif;
	color:lightgray;
	text-decoration:none;
	margin-right:20px;
}
#aic
{
width:40%;
float:right;
padding-top:40px;	
}
#aic a
{
	margin-left:20px;
	display:inline;
	font-size:16px;
	font-family:'Source Sans Pro',helvetica,arial,sans-serif;
	color:lightgray;
	text-decoration:none;
	margin-right:20px;
	
}
#aic a:hover
{
	font-size:16.5px;
	transition:0.5s;
	color:white;
}
#ifinav a:hover
{
	font-size:16.5px;
	transition:0.5s;
	color:white;
}
#and
{
	margin-left:43%;
height:20px;
display:inline;
color:gray;
}